body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    direction: rtl;
}

.header {
    background-color: #007c6c;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
}

.header .logo img {
    width: 80px;
}

.header .title h1 {
    font-size: 22px;
    margin: 5px 0 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: right;
}

h2 {
    text-align: center;
    color: #007c6c;
    font-size: 20px;
}

.info {
    margin: 15px 0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007c6c;
    color: #ffffff;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #005a4c;
}
.form-group {
    margin: 15px 0;
    width: 95%;
}

input {
    width: calc(100% - 20px); /* يجعل عرض الحقل أقل قليلاً */
    padding: 8px; /* حجم الحقل */
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    direction: rtl; /* الكتابة من اليمين لليسار */
}


.button.cancel {
    background-color: #dc3545;

    
}



.footer {
    text-align: center;
    padding: 15px 0;
    background-color: #f1f1f1;
    color: #777;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
}

